* {
  margin-left: 5%;
  margin-right: 5%;
  padding: 0%;
}

#hood-add-to-cart {
  float: left;
  clear: left;
}

.menu-container {
  float: right;
  margin-right: 30%;
  margin-top: 10%;
  text-align: center;
  height: auto;
  width: 100%;
}

hr {
  width: 100%;
  margin-top: 10%;
}

#size {
  float: left;
  clear: left;
  margin-top: 10%;
  margin-bottom: 10%;
}

select {
  float: right;
  margin-top: 10%;
  margin-bottom: 10%;
}

.drop-down {
  width: 50%;
  background-color: white;
  border-style: none;
}

#desc {
  float: left;
  margin-top: 2%;
}

.layout-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#item-desc {
  margin-top: 2%;
  float: left;
  clear: left;
}

#add-button {
  float: left;
  margin-top: 10%;
  margin-left: 30%;
  border: 2px solid black;
  width: 60%;
  text-align: center;
  padding: 1%;
}

@media screen and (max-width:650px) {
  .layout-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
