* {
  margin-left: 5%;
  margin-right: 5%;
  padding: 0%;
}

.hood-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: auto;
}
#price{
  text-align: center;
}
#hood-header{
  text-align: center;
}
#hood-image{
  justify-content: center;
}
.hood{
  text-align: center;
}
@media screen and (max-width: 1200px){
  .hood-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 800px){
  .hood-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
  }
}
