* {
  margin-left: 5%;
  margin-right: 5%;
  padding: 0%;
}

#top-header {
  text-align: center;
  font-size: 20px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

#nav-link {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  color: black;
  text-decoration: none;
  margin-top: 2%;
}

#cart {
  height: 2%;
  float: right;
  clear: right;
  position: absolute;
  top: 0%;
  left: 87%;
}

#mens-outwear-img {
  width: 100%;
  margin-top: 2%;
}

#mens-outerwear-heading {
  text-align: center;
  margin-top: 2%;
}

.shopnow-button {
  text-align: center;
  margin-top: 2%;
  border: 2px solid black;
  width: 20%;
  margin-left: 40%;
  padding: 1%;
}
.last-two-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.items-container{
  display: grid;
  grid-template-columns:
}

#polymer{
  text-align: center;
}

#Demo{
  text-align: center;
  background-color: black;
  color: white;
  width: 40%;
  margin-left: 30%;
  height: 2%;
  padding: 2%;
}
